$toc-level: 6 !default;

.toc{

  &-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item{

    @for $i from 2 through $toc-level {
      &-#{$i}{
        margin-left: $i - 1em;
      }
    }
  }
}
